#toplevel_page_woocommerce-answerbase-settings-page div.wp-menu-image
{
    background-image: url('../images/answerbase_s.png');
    background-repeat: no-repeat;
    background-position: center;
}